body{
  background-color: #232323;
  text-align: center;
  color: white;
}
.square{
    background-color:"black";
    color:purple;
    width: 30%;
    padding-bottom:30%;
    margin:1.6%;

    float:left;
    border-radius: 15px;

}  
.container{
   width:30%;
   margin:0 auto;
}
h1{
    text-align: center;

}